:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 382px;
  position: relative;
  width: 1123.708px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  background: #000000;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 30px;
  position: relative;
  width: 600px;
  z-index: 2;
}
.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 100px;
  padding: 6px 6px 6px 6px;
  border: 1px dashed #8a38f5;
  z-index: 3;
  overflow: hidden;
  border-radius: 5px;
}
.state-off {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 88px;
  padding: 6px 6px 6px 6px;
  z-index: 4;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 4px 4px 4px 4px;
  z-index: 5;
}
.catalog {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 68px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 6;
}
.navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 103px;
  padding: 6px 6px 6px 6px;
  border: 1px dashed #8a38f5;
  z-index: 7;
  overflow: hidden;
  border-radius: 5px;
}
.state-off-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 91px;
  padding: 6px 6px 6px 6px;
  z-index: 8;
}
.content-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 4px 4px 4px 4px;
  z-index: 9;
}
.solutions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 71px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.nav-button-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 89px;
  padding: 6px 6px 6px 6px;
  border: 1px dashed #8a38f5;
  z-index: 11;
  overflow: hidden;
  border-radius: 5px;
}
.state-off-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 77px;
  padding: 6px 6px 6px 6px;
  z-index: 12;
}
.content-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 4px 4px 4px 4px;
  z-index: 13;
}
.service {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 57px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 14;
}
.nav-button-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 75px;
  padding: 6px 6px 6px 6px;
  border: 1px dashed #8a38f5;
  z-index: 15;
  overflow: hidden;
  border-radius: 5px;
}
.state-off-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 63px;
  padding: 6px 6px 6px 6px;
  z-index: 16;
}
.content-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 4px 4px 4px 4px;
  z-index: 17;
}
.about-us {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 43px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 18;
}
.nav-button-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 113px;
  padding: 6px 6px 6px 6px;
  border: 1px dashed #8a38f5;
  z-index: 19;
  overflow: hidden;
  border-radius: 5px;
}
.state-off-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 101px;
  padding: 6px 6px 6px 6px;
  z-index: 20;
}
.content-b {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 4px 4px 4px 4px;
  z-index: 21;
}
.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 81px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 22;
}
.logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 111.708px;
  padding: 14px 14px 14px 14px;
}
.resource {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 34px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-27/n6jAGRivEG.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
