:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  style="width: 93,75vw; height: 10,53vw; overflow: hidden;;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

/* АДАПТИВНО */
.main-container {
  position: relative;
  width: 93,75vw;
  height: 10,53vw;
  margin: 1,97vw 3,125vw 0 3,125vw;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px 10px 10px 10px;
} 

.rectangle {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 93,75vw;
  background: #000000;
  z-index: 1;
} 

.frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 12,33vw;
  height: 72vw;
  top: 14vw;
  left: 1.31vw;
  padding: 13,89vw 6,76vw 13,89vw 6,76vw;
  z-index: 2;
}  

.resource {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 65vw;
  background: [Логотип](logo.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.frame-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 40px;
  position: absolute;
  width: 39.34%;
  height: 34%;
  top: 33%;
  left: 30.33%;
  z-index: 4;
}
.catalog {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 68px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.solutions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 71px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 6;
}
.service {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 57px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
}
.about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 43px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
}
.contact-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 81px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 9;
}
